{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ username }}'s Profile</h3>

<div class="row">
    <div class="col s12 m6 offset-m3 center-align">
      <div class="card amber center-align">
        <div class="card-content white-text">
          <p>Welcome to Flavours, {{ username }}! <br> Now you are registered you can submit and edit all of your delicious recipes! Go ahead and click the button below to get started! .</p>
        </div>
        <div class="card-action">
          <a class="white amber-text waves-effect waves-light btn" href="{{ url_for('submit_recipe') }}">Time to create my own!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}