{% extends "base.html" %}
{% block content %}

<h3 class="amber-text center-align text-shadow">Flavours Recipes!!</h3>

<div class="col s12 m7">
    <h5 class="header center-align">Welcome to Flavours!</h5>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content center-align">
                <p>Search, edit and upload your favourite recipes from around the world! From starters, mains and
                    desserts and even cocktails! <br>
                    Below you can use our search bar to find all kinds of recipes! <br> 
                    Be brave and try something new, or
                    even spice up your own recipes with our edit function!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix amber-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search our recipes!</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="amber btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
{% if recipes|length > 0 %}
<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text amber text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == recipe.username %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" data-target="modal1"
                    class="btn modal-trigger red white-text waves-effect waves-light btn-small">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="amber waves-effect waves-light btn-small">Edit</a>
                
                <!--Modal-->
                <div id="modal1" class="modal">
                    <div class="modal-content amber white-text">
                        <h4>Deleting Recipe</h4>
                        <p>Are you sure you want to delete this recipe?</p>
                    </div>
                    <div class="modal-footer amber">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close white-text btn-flat">Agree</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <strong>{{ recipe.category }}</strong> : {{ recipe.recipe_name }}
            <div class="row">
                Meal Description: {{ recipe.description }}<br>
            </div>
        </div>
        <div class="collapsible-body">
            Serving Size <i class="far fa-clock"></i> : {{ recipe.serving_size }} people<br>
            <br> Preparation Time <i class="fas fa-utensils"></i> : {{ recipe.preparation_time }} minutes<br>
            <br>Cooking Time <i class="fas fa-utensils"></i> : {{ recipe.cooking_time }} minutes<br>
            <br>Ingredients <i class="fas fa-list-ul"></i> : {{ recipe.ingredients }}<br>
            <br>Instructions <i class="fas fa-list-ol"></i> : {{ recipe.instructions }}<br>
            <br>Username <i class="fas fa-user"></i> : {{ recipe.username }}<br>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="amber-text center-align text-shadow">No Matching Recipes</h3>
{% endif %}

{% endblock %}