{% extends "base.html" %}
{% block content %}

<h3 class="amber white-text center-align text-shadow">Submit Your Recipe!</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('submit_recipe') }}">
        <div class="row">
            <div class="input-field col s3">
                <select name="category" id="category" class="validate" required>
                    <option value="" disabled selected>Choose recipe category!</option>
                    {% for category in categories %}
                    <option value="{{ category.category }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" minlength="5"
                    maxlength="50" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Description" id="desciption" minlength="5" maxlength="150"
                    name="description" type="text" class="validate" required>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Preparation Time" id="preparation_time" minlength="5" maxlength="50"
                    name="preparation_time" type="text" class="validate" required>
                <label for="preparation_time">Preparation Time (minutes)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Cooking Time in minutes" id="cooking_time" minlength="5" maxlength="50"
                    name="cooking_time" type="text" class="validate" required>
                <label for="cooking_time">Cooking Time (minutes)</label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" placeholder="Ingredients" name="ingredients"
                        class="materialize-textarea validate" required></textarea>
                    <label for="textarea1">Ingredients - Please list these one item per line</label>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" placeholder="Instructions" name="instructions"
                            class="materialize-textarea validate" required></textarea>
                        <label for="textarea1">Instructions - Please list these one step per line</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn amber waves-effect waves-light text-shadow" type="submit">Submit New Recipe
                        <i class="material-icons right"></i>
                    </button>

                </div>
            </div>
    </form>
</div>
</div>
{% endblock %}