{% extends "base.html" %}
{% block content %}

<h3 class="amber white-text center-align text-shadow">Submit Your Recipe!</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s3">
                <select name="category" id="category" class="validate">
                    <option value="" disabled selected>Choose recipe category!</option>
                    {% for category in categories %}
                    <option value="{{ category.category }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" minlength="5"
                    maxlength="50" value=" minutes" class="validate" required>
                <label for="recipe_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Preparation Time" id="preparation_time" minlength="5" maxlength="50"
                    name="preparation_time" type="text" class="validate" required>
                <label for="preparation_time"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <input placeholder="Cooking Time in minutes" id="cooking_time" minlength="5" maxlength="50"
                    name="cooking_time" type="text" pattern="^[0-9]{1,3}$" class="validate" required>
                <label for="cooking_time"></label>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" placeholder="Ingredients" name="ingredients"
                        class="materialize-textarea validate" required></textarea>
                    <label for="textarea1"></label>
                </div>
            </div>
    </form>
</div>
<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea1" placeholder="Directions" name="directions" class="materialize-textarea validate"
                required></textarea>
            <label for="textarea1"></label>
        </div>
    </div>
</div>
</form>
</div>
{% endblock %}